<%
        @users = User.all
        @young = 0
        @adult = 0
        @old = 0
        @unsp = 0
        @users.each do |u|
                if u.nacimiento!=nil&&u.nacimiento!=''
                        str = time_ago_in_words(u.nacimiento).to_s
                        i = 0
                        if str.length==12
                                i = str[5]
                                i = Integer(i)
                        end
                        if str.length==13
                                i = str[5..6]
                                i = Integer(i)
                        end
                        if i!=0
                                if i<31
                                        @young += 1
                                elsif i<61
                                        @adult += 1
                                else
                                        @old += 1
                                end
                        end
                else
                        @unsp += 1
                end
        end

        @chart = Gchart.pie_3d(:data => [@young, @adult, @old, @unsp], :bar_colors => ['E06A1B', '93E053', '63E5FF', 'A6A6A6'], :title => 'Age Ranges', :size => '400x200', :labels => ['0 - 30', '31 - 60', '60 and over', 'Unespecified'])
%>
<div style="width: 400px; height: 200px" >
        &nbsp;
        <%= image_tag @chart %>
</div>