<%  if !@experiment.experiment_videos.empty? 
str = "<div style='padding-left: 30px'><ul>"
  @experiment.experiment_videos.order('play_date ASC').each do |ps|
    str = str += "<li>"
    str = str += 'Name: '+(ps.video ? ps.video.name.to_s : '-')
    str = str += "&nbsp;-&nbsp;"+'Play Date: '+ps.play_date.to_s+''
    str = str += "</li>"
  end
  str = str+="</ul>"
else
  str =  "<ul><li>-</li></ul>" 
end %>
<%= str.html_safe %>