<div class="span11 perfil" id="barra">
	<div class="row">
		<div class="span3" style="position:relative;left:10px;">
			
			<div class="user-image">
				<%= image_tag current_user.avatar.url(:medium),:size => "120x120",:class => "perfil" %>

			</div>
			<div class="user-name">
				
				<%= current_user.nombre%>
			</div>
		</div>
		<div class="span6 pull-right" id="secciones2">

			<div id="logout" class="pull-right">
			</div>

			<div id="favoritos" data-url="populares" class="pull-right">
			</div>

			<div id="valorados" data-url="valorados" class="pull-right">
			</div>			

			<div id="temas" class="pull-right"></div>

			<div id="perfil"  class="pull-right active"></div>
			
			
			
		</div>
		
	</div>
</div>