<div class="span11 perfil" id="barra">
	<div class="row">
		<div class="span6" style="position:relative;left:10px;">
			
			<div class="user-image">
				<%= image_tag @user.avatar.url(:medium),:size => "120x120",:class => "perfil" %>

			</div>
			<div class="user-name">
				
				<%= @user.nombre%> <%=@user.apellidos %>
			</div>
		</div>
		<div class="span5 pull-right" id="secciones2">

			<% if current_user.id == @user.id %>
			<div id="logout" class="pull-right">
			</div>
			<% end %>
			<div id="favoritos" data-url="populares" class="pull-right">
			</div>

			<div id="valorados" data-url="valorados" class="pull-right">
			</div>			

			<div id="temas" class="pull-right"></div>

			<div id="perfil"  class="pull-right active"></div>
			
			
			
		</div>
		
	</div>
</div>