<% 
css 'redmond/jquery-ui-1.9.1.custom.min'
content_for :main_js do %>
  "/assets/user_index.js"
<% end 
content_for :header do 
  render :partial => 'users/header'
end 


%>

<div class="user">

  <div class="row">
    <div class="four columns buttons" >
      <a href="/users/<%=@user.id%>">
        <div class="perfil active"></div>
      </a>
      <% if @user.id == current_user.id %>  
        <div class="separador"></div>
      <a href="#tema"><div class="tema"></div></a>
      <% end %>
        <div class="separador"></div>
      <a href="#ranks"><div class="ranks"></div></a>
        <div class="separador"></div>
      <a href="#favs"><div class="favs"></div></a>
      <% if @user.id == current_user.id %>
        <div class="separador"></div>
      <a href="/logout">
        <div class="salir"></div>
      </a>
      <% end %>
    </div>
    <% if @user.id == current_user.id %>
    <div class="two columns">
      <button class="button small">Subir Recursos</button>
    </div>
    <% end %>
  </div>

  <%= render :partial => 'users/perfil_editar' if current_user.id == @user.id %>

  <%= render :partial => 'users/perfil' if current_user.id != @user.id %>
</div>

<div class="row user" id="listado_container" style="display:none">
    <%= render :partial => 'resources/listado' %>
</div>
