<% content_for :main_js do %>
	"/assets/index.js"
<% end 

content_for :header do 
	render :partial => 'layouts/header'
end
content_for :barra do 
	render :partial => 'layouts/barra'
end
%>
<div class="row" id="listado_container" style="display:none">
	<%= render :partial => "resources/listado" %>
</div>
	
 

<div id="page-nav" style="display:none">
	<a href="/todos_index/2"></a>
</div>

<div id="feedback">
	<div class="tab">
		Feedback
	</div>
	<div class="body">
		<form method="post">
			<input type="text" placeholder="Nombre" id="nombre" name="nombre"/>
			<input type="text" placeholder="Email" id="email" name="email"/>
			<textarea placeholder="Comentario" id="comentario" name="comentario"></textarea>
			<input type="submit" value="Enviar" class="small button" style="align:rigth"/>
		</form>
</div>
</div>