<%
content_for :main_js do %>
"/assets/index"
<% end %>


<% content_for :header_nav do %>
    <%= render :partial => 'menu', :locals => {:child => '1'} %>
<% end %>

<%=render :partial => 'listado' %>

<!-- <div class="nav" id="navSelector">
    <a id="nextpage" href="/recursos/mas_votados/2">Next Page</a>
</div> -->


<div id="contenedor-modal"></div>
