<div class="row" id="listado_container" style="display:none">
	<%= render :partial => "resources/listado" %>
</div>
	
 

<div id="page-nav" style="display:none">
	<a href="/todos_index/2"></a>
</div>

