<!DOCTYPE html>


<head>
    <meta charset="utf-8">
    <title>Crear Cuenta Usuario</title>
    <meta name="description" content="">
    <meta name="keywords" content="" />
    <meta name="author" content="">


 
    <!-- CSS -->
    <%= stylesheet_link_tag    "application","login-usuario","botones", :media => "all" %>
    



</head>
 
<body>
    <div id="empresas">
    
    
        <div id="site-head">
            <div class="wrap group">
                <hgroup class="logo">
                    <h1><a href="<%=root_path%>"><img src="/assets/dandooTV.png" alt="dandooTV" width="148" height="44"></a></h1>
                </hgroup>

            </div>
        </div>   
    
    
        <header>
	        <br><br><br>
	        <h2>Regístrate y disfruta la <br> mejor publicidad del mundo</h2>
        </header><!-- fin header -->
        
        
        
        <section id="contenedor" class="clearfix">       
        <h3>Puedes hacerlo con:</h3>
        <br><br>
        
				<div class="two columns">
				
				<div class="container">
				<ul>				
					<li><a href="#" class="medium twitter ml15"><img src="/assets/twitter2.png" width="41" height="41" alt="">Twitter</a></li>
					<li class="oespacio"><strong>o</strong></li>
					<li><a href="#" class="medium facebook ml17"><img src="/assets/facebook1.png" width="41" height="41" alt="">Facebook</a></li>
				</ul>
				</div>	
				
				
				</div>        
        </section>   
        

	    <a href="../landing/landing-paso-1.html" class="back">Regresar donde estaba</a>
    
    </div>
 
 
</body>
</html>