<%
  content_for :barra do 
    render :partial => "layouts/barra"
  end
  content_for :botonera do
    render :partial => "layouts/botonera"
  end
%>
<div class="span11 contenido" id="listado_container">
  <%= render :partial => "listado_imagenes", :locals => {:pictures => @pictures} %>
</div>

<% javascript "home" %>