<% cache ["v1_contenidos",@resources] do %>
	<%
	content_for :main_js do %>
	"/assets/index"
	<% end %>


	<% content_for :header_nav do %>
	    <%= render :partial => 'menu', :locals => {:child => '4'} %>
	<% end %>

	<%=render :partial => 'listado' %>
	<div class="nav" id="navSelector">
	    <a id="nextpage" href="/recursos/mis_contenidos/2">Next Page</a>
	</div>


	<div id="contenedor-modal"></div>
<% end %>