<%
content_for :main_js do %>
"/assets/index"
<% end %>


<% content_for :header_nav do %>
    <nav>
        <div class="group">
            <ul id="navigation" class="group">
                <li >
                    <a href="<%=root_path%>" id="mas_votados" >Los mejores</a>
                </li>
                <li>
                    <a  href="/comentados"id="mas_comentados">Los más comentados</a>
                </li>
                <li class="current_page_item">
                    <a href="/nuevos" id="nuevos" class="active">Nuevos (<%=@resources.count%>)</a>
                </li>
                <% if user_signed_in?%>
                <li>
                    <a href="/mis_contenidos" id="nuevos">Mis contenidos</a>
                </li>
                <% end %>
            </ul>
        </div><!-- .wrap < nav -->
    </nav>
<% end %>

<%=render :partial => 'listado' %>

<div class="nav" id="navSelector">
    <a id="nextpage" href="/recursos/nuevos/2">Next Page</a>
</div>


<div id="contenedor-modal"></div>
