<% cache ["v1.1_comentados",@resources] do %>
	<%
	content_for :main_js do %>
	"/assets/application.js"
	<% end %>


	<% content_for :header_nav do %>
	    <%= render :partial => 'menu', :locals => {:child => '2'} %>
	<% end %>

	<%=render :partial => 'listado' %>
	


	<div id="contenedor-modal"></div>
<% end %>
