<% cache ["v1.2_todos",@resources] do %>
	<%
	content_for :main_js do %>
	"/assets/application.js"
	<% end %>


	<% content_for :header_nav do %>
	    <%= render :partial => 'menu', :locals => {:child => '5'} %>
	<% end %>

	<%=render :partial => 'listado' %>
	

	
	

	<div id="contenedor-modal"></div>
<% end %>
