<%
content_for :main_js do %>
"/assets/index"
<% end %>


<% content_for :header_nav do %>
    <%= render :partial => 'menu', :locals => {:child => '5'} %>
<% end %>

<%=render :partial => 'listado' %>

<div class="nav" id="navSelector">
    <a id="nextpage" href="/recursos/todos/2">Next Page</a>
</div>


<div id="contenedor-modal"></div>
