<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Nuevo Feedback en Dandoo </h1>
    <p>
      <%= @comentario %>
    </p>
    
  </body>
</html>