<div class="well span8" style="height: 230px" >
	<div class="span6">
  <h3>Videos Destacados:</h3>
	<ul id="roundabout">
    	<li>
    		<a href="#">
    		<%= image_tag 'square.png' %>
			&nbsp;&nbsp;Título 1
    		</a>
    	</li> 
    	<li>
    		<a href="#">
    		<%= image_tag 'square.png' %>
    		&nbsp;&nbsp;Título 3
    		</a>
    	</li> 
    	<li>
    		<a href="#">
    		<%= image_tag 'square.png' %>
    		&nbsp;&nbsp;Título 2
    		</a>
    	</li> 
    </ul>	
	</div>
</div>
<div class="well span8" style="height: auto" >
<h3>Otros Videos Para Ti:</h3>
  <div class="span2 well" >
    <br><br><br><br><br><br><br>
  </div>
  <div class="span2 well" >
    <br><br><br><br><br><br><br>
  </div>
  <div class="span2 well" >
    <br><br><br><br><br><br><br>
  </div>
  <div class="row" >&nbsp;</div>
  <div class="span2 well" >
    <br><br><br><br><br><br><br>
  </div>
  <div class="span2 well" >
    <br><br><br><br><br><br><br>
  </div>
  <div class="span2 well" >
    <br><br><br><br><br><br><br>
  </div>
  <div class="row" >&nbsp;</div>
  

  
</div>
<script language="javascript" type="text/javascript">
    
    $(document).ready(function() {
      

		$('#roundabout').roundabout({
         duration: 700,
         autoplay: true,
         autoplayDuration: 10000,
         btnNext: ".next",
         btnPrev: ".prev"
      	});

    });

</script>