<!DOCTYPE html>
<html>
  <head>
    <title>Dandoo - Adverstising</title>
    <%= csrf_meta_tags %>
    <meta name="google-site-verification" content="kD2sMFnQ4VfcHlZMKG9u7Glug38BobmH-97IVSUNJx4" />
  </head>
  <body>
  	prerelease :D
  </body>
</html>