<div class="span11" style="background-color:white;border-radius:0 0 10px 10px">
 <br />
  <div class="row">
    <div class="span4 offset3" style="height:43px;">
      <span style="float:left;position:relative;font-size:24px;font-weight:bold;font-family:'FBold',sans-serif, Helvetica;top:10px;">Selecciona tu cuenta para Ingresar a</span>
    </div>
    <div class="span1" style="margin-left:0;height:43px;width:148px;">
      <%=image_tag 'LOGIN_04.png' ,:style => 'float:left;position:relative;height:43px;width:148px;'%>
    </div>
  </div><!-- ROW -->

  <br />
  <br />
  <div class="row" style="height:200px;position:relative;">
    <div class="span3 offset3">
      <%=link_to image_tag('conectar_tw.png'),'/auth/twitter' %>
    </div>
    <div class="span3">
      <%=link_to image_tag('conectar_fb.png'),'/auth/facebook' %>
    </div>
  </div>
</div>