<%
video_id = @resource.url.split("=")[1]
%>
<div id="endplayer" style="width:700px;height:525px;position:relative;border:1px black solid;display:none">
	
	¿Te gustó el video?
	Vota por el <br />
	<button id="replay">Replay</button>

</div>
<div id="ytplayer"></div>

<script type="text/javascript">
	$(document).ready(function(){loadYoutubePlayer("<%=video_id%>","<%=@resource.id%>");});
</script>