<html>
    <head>
        <title>Chrome Extensions</title>
        <style>
        html,body{
            margin:0px;
            padding:0px;
            height:100%;
        }
        body{
            overflow:hidden;
        }
        .slide{
            height:100%;
            width:100%;
            background:-webkit-gradient(radial,
                50% 50%, 0,
                50% 50%, 500,
                from(white), to(#A2D2ED)) no-repeat #A2D2ED;
            padding:100px;
        }
        </style>
        <script type='text/javascript' src='jquery-1.8.2.min.js'> </script>
    </head>
    <body>
        <section class='slide' id='slide1'>
            Slide1
        </section>
        <section class='slide' id='slide2'>
            Slide2
        </section>
    </body>
    <script type="text/javascript">
    $(document).ready(function() {
        $('body').bind("keydown", function(event) {
            if (event.keyCode == '40' || event.keyCode == '39') {
                var x = location.href;
                var currentSlideNumber = x.split('#slide')[1];
                var nextSlideNumber = 2;
                if (currentSlideNumber) {
                    nextSlideNumber = parseInt(currentSlideNumber) + 1;
                }
                var target = '#slide' + nextSlideNumber;
                $("html, body").stop().animate({
                    scrollTop: $(target).offset().top,
                    scrollLeft: $(target).offset().left,
                }, 800, function() {
                    location.href = target;
                });
            } else if (event.keyCode == '38' || event.keyCode == '37') {
                var x = location.href;
                var currentSlideNumber = x.split('#slide')[1];
                var nextSlideNumber = parseInt(currentSlideNumber) - 1;
                var target = '#slide' + nextSlideNumber;
                $("html, body").stop().animate({
                    scrollTop: $(target).offset().top,
                    scrollLeft: $(target).offset().left,
                }, 800, function() {
                    location.href = target;
                });
            }
        });
    });
    $("a[href*=#]").bind("click", function(event) {
        event.preventDefault();
        console.log('you');
        var target = $(this).attr("href");
        $("html, body").stop().animate({
            scrollTop: $(target).offset().top,
            scrollLeft: $(target).offset().left,
        }, 1500, function() {
            location.href = target;
        });
    });
    </script>
</html>