html {
  height: 100%;
}

body {
  font:13px Helvetica, Arial, sans-serif;
  font-weight:normal;
  line-height:1.2;
  color: #737373;
  height: 100%;
  background: #f6f6f3 url(bg-dandoo.png) left top repeat;
}

#page {
  min-height: 100%;
  position: relative;
  margin-top:-10px;
}

p {
  line-height: 1.35;
  margin-bottom: 1.03em;
}

.wrap {
  margin: 0 auto;
  padding: 0 10px;
  height: 44px;
  background: url(bg-nav.png) left top repeat;
}

.wrapModal {
  margin: 0 auto;
  padding: 0 10px;
  height: 44px;
  background:rgba(17,17,17,0.39);
}

/*
============================================================================
Head
============================================================================
*/



.logo {
  float: left;
  width: 100%;
}

.logo h1 {
  margin-bottom: 5px;
  float:left;
}

.logo.textual h1 {
  margin-bottom: 0.7em;
  float: left;
}

.header-wgt {
  float: right;
}

#header .widget h3 {
  display: none;
}

/* Header Widgets */

#header .widget {
  float: left;
  margin-top: 8px;
  margin-bottom: 0;
}

#header .widget_ci_social_widget {
  margin-right: 40px;
}



/*
============================================================================
Nav
============================================================================
*/

#navigation > li > ul {
  border-top: 4px solid #C4D9E4;
}

#navigation > li > ul li a:hover {
  background: #e8eef1;
}

#navigation li div:hover, #navigation li div.active{
  color:black; 
}

#footer {
  border-bottom: 7px solid #c4d9e4;
}

#commentform button[type=submit], .gform_wrapper input[type=submit],
#contactform button[type=submit]{
  border: 1px solid #77aac5; /* inner stroke */
  background-color: #83b6d1; /* layer fill content */
  @include gradient(90deg,  rgba(107,163,194,1) 0%, rgba(153,197,218,1), 100%);
}

nav {
  padding: 20px 0 0;
}

#navigation {
  text-align: center;
  list-style: none;
  margin: 0 auto;
  padding: 0;
}

#navigation a {
  color: #676767;
  display: block;
  text-align: left;
}

#navigation > li {
  display: inline-block;
  margin-right: 20px;
  position: relative;
}

#navigation > li a {
  padding-bottom: 14px;
}

#navigation > li a:hover, #navigation .current-menu-item > a, #navigation .current_page_item > a,
#navigation li.sfHover > a {
  color: #000;
}

#navigation li div{
  cursor:pointer;
}

#navigation > li > ul {
  position: absolute;
  z-index: 1500;
  left: -14px;
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
  background: #FAFAFA;

  @include border-radius(0 0 3px 3px);
  @include box-shadow(0 1px 1px rgba(0, 0, 0, 0.2));
  top: -999em;
}

#navigation > li > ul li {
  display: block;
}

#navigation > li > ul li a {
  white-space: nowrap;
  font-weight: bold;
  padding: 10px 40px 10px 15px;
  font-size: 13px;
}

#navigation > li:hover > ul {
  top: auto;
}

nav select {
  display: none;
}

#navigation ul ul {
  list-style: none;
  margin: 0;
  padding: 0;
  background: #fff;
  text-align: left;
  border-top: 1px solid #f3f3f3;
  border-bottom: 1px solid #f3f3f3;
}

#navigation ul ul li a {
  font-size: 0.9em;
}

/*
============================================================================
Contenedores
============================================================================
*/


.box h3, .entry h3 {
  font-size: 1.638461538461538em;
  letter-spacing: -0.03em;
}


#main {
  padding: 40px 0 80px;
}


#box-container {
  margin: 0 auto;
  max-width:100%;
}

#entry-listing {
  margin-left: -16px;
}

.box {
  background: #fff;
  float: left;
  width: 260px;
  margin-left: 15px;
  margin-bottom: 15px;

  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  -o-border-radius: 1px;
  border-radius: 1px;
  @include border-radius(1px);
  @include box-shadow(0 1px 1px rgba(0,0,0,0.31));
}

.box .entry-content-cnt {
  padding: 8px;
  cursor: pointer;
  .entry-content{
    position:relative;
  }
}

.box .entry-desc {
  padding: 8px 12px 10px;
  background: #fff;
  @include border-radius(0 0 2px 2px);
}

.entry-content > a {
  display: block;
  line-height: 0;
}

#entry-listing .entry h1 {
  font-size: 0.9em;
  margin-bottom: 8px;
}

.entry img{
  max-width: 100%;
}



.zoom { 
    width:100%;
    height: 100%;
    display:block; 
    position:relative; 
    overflow:hidden; 
}

.zoomOverlay {
  position:absolute;
  top:0; 
  left:0;
  bottom:0; 
  right:0;
  display:none;
  background-color:#333;
  background-image:url("zoom.png");
  background-repeat:no-repeat;
  background-position:center;
  width: 100%;
  height: 99%;
  z-index:100;
  @include opacity(0.7);
}

.comments-no, .heart-this, .entry-permalink {
  @include transition(0.2s none 0s linear);
}

.comments-no {
  color: #a3a3a3;
  font-size: 11px;
  padding-left: 16px;
  background: url("sprites.png") no-repeat scroll 0 1px transparent;
}

.comments-no:hover {
  color: #555;
  background-position: -1px -23px;
}

.heart-this, .heart-this:visited {
  background: url("sprites.png") no-repeat scroll 0 -187px transparent;
  color: #a3a3a3;
  font-size: 12px;
  padding-left: 17px;
  margin-left: 5px;
}

.single-heart-this .heart-this {
  background: none;
  padding: 0;
  margin: 0;

}

.heart-this:hover {
  background-position: 0 -216px;
  color: #555;
}

.heart-this.loved, .heart-this.loved:hover {
  background-position: 0 -216px;
  color: #a3a3a3;
  padding-bottom: 3px;
  float: right;
}

.entry-permalink {
  text-indent: -999em;
  float: right;
  background: url('sprites.png') no-repeat 0 -49px; width: 16px; height: 16px;
  cursor: pointer;
  margin-top: 1px;
}

.entry-permalink:hover {
  background-position: -1px -84px;
}

.entry p {
  line-height: 1.5em;
  font-size: 11px;
}


.inner-container {
  width: 1085px;
  margin: 0 auto;
}

.inner-container .box-hold {
  margin-right: 2.76497695852535%;
  width: 48.61751152073733%;
  float: left;
}

.inner-container .box-hold:last-of-type {
  margin-right: 0;
}

.box-hold .box {
  width: 100%;
  float: none;
  margin: 0 0 20px 0;
}

.entry-image {
  margin: 0.5% 0 3%;
  padding: 0;
  line-height: 0;
}

.entry-image img {
  min-width: 100%;
}

.box-hold .entry-content {
  border-bottom: 1px solid #E6E6E6;
  padding: 0 3% 3% 3%;
}

.box-hold .entry-intro {
  padding: 4% 3% 3.2%;
  position: relative;
}

.entry-intro h1 {
  font-size: 2.384615384615385em;
  margin-bottom: 5px;
  line-height: 0.9;
  max-width: 88%;
}

.entry-intro .entry-meta {
  font-size: 0.8461538461538462em;
  display: block;
}


.social-share {
  background: none repeat scroll 0 0 #F7F7F7;
  border-radius: 0 0 4px 4px;
  border-top: 1px solid #FFFFFF;
  padding: 3%;
  text-align: center;
}

.box-content {
  padding: 3%;
}

.nav {
  display: none;
}

#nav-access {
  float: right;
}

#nav-access li {
  display: inline;
  float: left;
  list-style: none;
  padding-left: 10px;
  font-size: 12px;
  padding-left: 12px; //33px;
  padding-top: 15px;
  color:#fff;
  text-decoration: none;
  &.dropdown{
    cursor:pointer;
    width:145px;
    margin:0;
    padding:15px 1px 5px 0px;
    margin-left:10px;
    &.active{
      background:#fff;
      color: #555555;
    }
     
    li{
      margin:4px;
      padding:0;
      display: block;
      width:100%;
      margin:0;
       a{
        color: #555555;
        font-weight: bold;
        text-decoration: none;
      }
      a:hover{
        color: #FFFFFF;
        text-decoration: none;
      }
    }
    li:hover{
      background:#32A0B7;
      
    }
    
  }
}

#nav-access li a{
  color:#fff;
  text-decoration: none;

}



#nav-access li ul{
    display:none;
    top:35px;
    //background:url('bg-nav.png') ;
    background:#FFF;
    width:143px;
    position:absolute;
    margin:0;
    padding:10px 1px 5px 2px;
   
}


#nav-access li a:hover{
  text-decoration: underline;
}

.paddr10{
padding-right: 10px;
}


/*
============================================================================
Estilos y formatos especificos
============================================================================
*/

#intro.box {
  width: 250px;
  padding: 5px;
}

#intro .entry-content-cnt {
  border-bottom: none;
}

.single-heart-this, .single-heart-this:visited, .single-heart-this:focus {
  color: #a3a3a3;
  position: absolute;
  right: 26px;
  top: 28px;
}

.heart-icon {
  background: url("sprites.png") no-repeat scroll 0 -256px transparent; width: 22px; height: 20px;
  display: block;
  margin-bottom: 3px;
}

.heart-no {
  font-size: 12px;
  display: block;
  text-align: center;
  font-weight: bold;
  color: #333;
  padding-left: 3px;
  padding-top: 2px;
}

#entry-listing .heart-no {
  display: inline;
  text-align: left;
}

.single-heart-this:hover .heart-icon, .single-heart-this .heart-this.loved .heart-icon {
  background-position: 0 -290px;
}

.single-heart-this:hover, {
  color: #555;
}

.single-heart-this:active .heart-icon {
  @include transform(scale(1.1,1.1));
}


#entry-listing .format-standard .entry-content {
  padding: 12px 8px;
  background: #f9f9f9;
}

#entry-listing .format-standard .entry-content a {
  color: #767676;
}

#entry-listing .format-standard .entry-content a:hover {
  color: #9a9a9a;
}

.page blockquote, .format-standard blockquote {
  padding-left: 4%;
  line-height: 1.4;
  color: #9a9a9a;
  font-size: 1.24em;
  margin-bottom: 1em;
}

.page blockquote cite, .format-standard blockquote cite {
  font-size: 0.6em;
  display: block;
  margin-top: 5px;
}



/* Formulario */

input[type=text],
input[type=password],
textarea,
.gform_wrapper input[type=text],
.gform_wrapper textarea{
  background: #f8f8f8;
  border: 1px solid #ccc;
  padding: 7px 6px 8px;
  color: #737373;
  font-size: 12px;
 @include border-radius(2px);
  @include transition(0.2s all linear);
  
}


input[type=text]:focus,
input[type=password]:focus,
textarea:focus {
  @include box-shadow(1px 1px 2px 0 rgba(0,0,0,0.05) inset);
}

form p, form fieldset {
  position:relative;
}

.fLabel {
  top: 15px !important;
  left: 9px !important;
  line-height: 0 !important;
}

.searchform .fLabel {
  left: 12px !important;
}


.gform_wrapper input[type=text],
.gform_wrapper textarea {
  padding: 7px 6px 8px !important;
}

.gform_wrapper .gfield {
  margin-bottom: 10px;
}


/*
============================================================================
Paginas
============================================================================
*/


.inner-container.full .box-hold,
.inner-container.half .box-hold {
  width: 100%;
}

.inner-container.half {
  max-width: 670px;
}





#overlay {
  display: none;
  position: fixed;
  top: 0;
  z-index: 2000;
  padding: 40px 0;
  background: #f7f7f7;
  width: 100%;
  width: 100%;
}

#overlay .widget {
  float: left;
  width: 32%;
  margin-right: 15px;
}

.expand {
  width: 100%;
  display: block;
  height: 5px;
  background: #ccc;
  text-indent: -999em;
  bottom: -44px;
  position: relative;
}


/*
============================================================================
Grilla Isotope
============================================================================
*/
.isotope, .isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -ms-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  -ms-transition-property: height, width;
  -o-transition-property: height, width;
  transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property:    -moz-transform, opacity;
  -ms-transition-property:     -ms-transform, opacity;
  -o-transition-property:         top, left, opacity;
  transition-property:         transform, opacity;
}


.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -ms-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
}


/*
============================================================================
Media Queries
============================================================================
*/

.show-on-mobile {
  display: none;
}

@media only screen and ( max-width: 1140px) {

  .inner-container {
    width: 100%;
    margin: 0 auto;
  }

}

@media only screen and ( max-width: 1050px ) {

  .comment-copy {
    width: 81%;
  }

}

@media only screen and ( max-width: 870px ) {

  .show-on-mobile {
    display: block;
  }

  .logo {
    float: none;
    width: 100%;
    text-align: center;
  }

  .header-wgt {
    display: none;
  }

  .avatar {
    display: none;
  }

  .comment-copy {
    width: 100%;
    float: none;
  }

}

@media only screen and ( max-width: 680px ) {

  #navigation {
    display: none;
  }

  nav {
    padding: 10px 0;
  }

  nav select {
    display: block;
    line-height: 0;
    width: 96%;
    margin: 0 auto;
    padding: 3px 4px;
    font: inherit;
  }

  nav select option {
    padding: 3px 0;
  }

  .inner-container .box-hold {
    float: none;
    width: 100%;
  }

  .avatar {
    display: block;
  }

}

@media only screen and ( max-width: 580px ) {

  #intro img {
    height: auto;
  }

  #entry-listing {
    margin: 0;
  }

  .box, #intro.box {
    width: 100%;
    margin: 0 0 25px 0;
    padding: 0;
  }

  .entry img {
    min-width: 100%;
  }

}

/* Para Mobile */

@media only screen and ( max-width: 480px ) {

  .pre-head .widget_ci_social_widget {
    display: none;
  }

  .pre-head .widget_search {
    float: none;
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 100%;
  }

  .widget_search .searchsubmit {
    position: absolute;
    right: 0;
  }

  .widget_search .s {
    width: 96%;
    padding: 7px 2% 8px;
  }

  .entry-intro h1,
  .entry-intro .entry-meta {
    text-align: center;
    width: 100%;
    max-width: 100%;
  }
  .avatar {
    display: none;
  }

  fieldset {
    margin-bottom: 20px;
  }

  #commentform fieldset.group > p {
    float: none;
    width: 100%;
  }

  #commentform fieldset.group > p:first-child {
    margin-right: 0;
  }

  #commentform input[type="text"],
  #commentform fieldset textarea {
    width: 96%;
  }

}

@media only screen and ( max-width: 320px ) {

  #commentform input[type="text"],
  #commentform fieldset textarea {
    width: 95%;
  }


}


/* Internet Explorer */

.lt-ie9 .box {
  border: 1px solid #e7e7e7;
  border-bottom: 2px solid #e7e7e7;
  margin-left: 13px;
}

.lt-ie8 .group { min-height: 1px; }

.lt-ie8  #navigation > li {
  float: left;
  z-index: 5000;
}

.ie8 .format-gallery .slides img {
  height: 300px !important;
}



/** Dropdown**/
.dropdown 
{
color: #555;
width: 143px;
position: relative;
height: 17px;
text-align:left;
float: right;
margin-top: 8px;
margin-right: 16px;
}
.submenu
{
position: absolute;
top: -12px;
left: -20px;
z-index: 100;
width: 135px;
display: none;
margin-left: 10px;
padding: 40px 0 5px;
}
.dropdown li a 
{
color: #555555;
display: block;
font-family: arial;
font-weight: bold;
padding: 6px 15px;
cursor: pointer;
text-decoration:none;
}

.dropdown li a:hover
{
background:#32A0B7;
color: #FFFFFF;
text-decoration: none;
}

.root
{
list-style:none;
margin: 9px 2px 0px 0px;
padding:0px;
font-size: 11px;
padding: 11px 0 0 0px;
background: white;
border: 1px solid #fff;
@include border-radius(0 0 3px 3px);
}


img.play_image{
  position:absolute;
  top:40%;
  left:40%;
}

/* Feedback tab*/
#feedback-panel{
  z-index:800;
  padding:20px;
  width:255px;
  position:fixed;
  top:250px;
  // left:96%;
  // right:134px;
  right:-245px;
  #tab{
    background: #333;
    cursor:pointer;
    height: 120px;
    right:0;
    display:block;
    position:relative;
    overflow:hidden;
    width:31px;
    outline:none;
    z-index:9999999;
    top:46px;

    @include border-radius(3px 0 0 3px);
    img{
      position:absolute;
      top:13px;
      left:3px;
    }
  }
  #contentForm{
    .error{
        border-color:red;
    }
    .load{
      position:absolute;
      top:46%;
      left:46%;
    }
    .field{
      margin-left:30px;
    }
    @include border-radius(3px 0 0 0);
    background:#333;
    #background: transparent url(bg-nav.png) left top repeat;
    padding-bottom:17px;
    height:400px;
    position:relative;
    overflow:hidden;
    padding-left:30px;
    top:-371px;
    width:350px;
    left:31px;
    input[type="text"]{
      width:224px;
      color: #333;
      padding: 9px;
    }
  }
  #feedback_send{
    padding:6px;
    float:right;
    margin-right:22%;
  }
  .active {
    top: 17px;
  }
  #comentario{
    height: 75px;
  width: 230px;
  }
}

.mensajeB{
  background: #fff url(mensaje.png) center top repeat;
  width: 100%;
  height: 100px;
  clear: both;
  text-indent: -9999px;
  overflow: hidden;
  text-align: center;
  position:relative;
  top:-13px;
}


//Nuevo current-menu-item

.menu{
  // padding: 20px 0 0;
  margin-left:25%;
}
.menu li{
    float:left; list-style: none;
   
}

.menu li.current{
      text-decoration: underline;
    }

.menu li:first-child a{
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;  
}

.menu li:last-child a{
    -webkit-border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-bottomright: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-right:1px solid #caced9;
}


.menu li a{
    padding:10px 20px;
    border:1px solid #caced9;
    border-top-color:#d9d9d9;
    border-bottom-color:#cccccc;
    display:block;
    font-weight:700;
    color:#666666;
    box-shadow:0 1px 2px rgba(0,0,0,0.15);
    color:#595e6e;
    background: #FFFFFF;
    background: -webkit-linear-gradient(top, #FFFFFF 0%, #e7e8ef 100%);
  background: -moz-linear-gradient(top, #FFFFFF 0%, #e7e8ef 100%);
  background: -ms-linear-gradient(top, #FFFFFF 0%, #e7e8ef 100%);
  background: -o-linear-gradient(top, #FFFFFF 0%, #e7e8ef 100%);
  background: linear-gradient(top, #FFFFFF 0%, #e7e8ef 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#e7e8ef',GradientType=0 );
    position:relative;
    cursor:pointer;
    text-decoration:none;
    font-family:Helvetica, Arial;
    text-shadow: 0 1px 1px white;
    font-size: 13px;
    border-right: none;
}

.menu li a:active{
    color:#404040; 
}

.menu li a:hover {
    background: #FFFFFF;
    background: -webkit-linear-gradient(top, #fbfbfb 0%, #f0f0f0 100%);
  background: -moz-linear-gradient(top, #fbfbfb 0%, #f0f0f0 100%);
  background: -ms-linear-gradient(top, #fbfbfb 0%, #f0f0f0 100%);
  background: -o-linear-gradient(top, #fbfbfb 0%, #f0f0f0 100%);
  background: linear-gradient(top, #fbfbfb 0%, #f0f0f0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbfbfb', endColorstr='#f0f0f0',GradientType=0 );
}

.menu li a:hover .noti {
    opacity:0.9;
}

.notificacion{
    height: 14px;
    -moz-border-radius: 36px;
    border-radius: 36px;
    width: 14px;
    padding: 3px;
    display: inline-block;
    color: #fff;
    text-shadow: 0px 1px 1px #707070;
    font-weight: bold;
    font-family: helvetica;
    text-align: center;
    font-size: 12px;
    top: -13px;
    right: 10px;
    position: absolute;
} 

.rojo{
    background-color: #f4a1b2;
    border: 1px solid #cf5161;
    background: -webkit-linear-gradient(top, #f4a1b2 0%, #f56879 100%);
  background: -moz-linear-gradient(top, #f4a1b2 0%, #f56879 100%);
  background: -ms-linear-gradient(top, #f4a1b2 0%, #f56879 100%);
  background: -o-linear-gradient(top, #f4a1b2 0%, #f56879 100%);
  background: linear-gradient(top, #f4a1b2 0%, #f56879 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4a1b2', endColorstr='#f56879',GradientType=0 ); 
}

.amarillo{
    background-color: #fecf63;
    border: 1px solid #e8aa44;
    background: -webkit-linear-gradient(top, #fee499 0%, #febc4b 100%);
    background: -moz-linear-gradient(top, #fee499 0%, #febc4b 100%);
    background: -ms-linear-gradient(top, #fee499 0%, #febc4b 100%);
    background: -o-linear-gradient(top, #fee499 0%, #febc4b 100%);
    background: linear-gradient(top, #fee499 0%, #febc4b 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fee499', endColorstr='#febc4b',GradientType=0 );
}

.azul{
    background-color: #91daf6;
    border: 1px solid #7cb7cd;
    background: -webkit-linear-gradient(top, #c2ecfa 0%, #71cef3 100%);
  background: -moz-linear-gradient(top, #c2ecfa 0%, #71cef3 100%);
  background: -ms-linear-gradient(top, #c2ecfa 0%, #71cef3 100%);
  background: -o-linear-gradient(top, #c2ecfa 0%, #71cef3 100%);
  background: linear-gradient(top, #c2ecfa 0%, #71cef3 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c2ecfa', endColorstr='#71cef3',GradientType=0 );
}