body{
	font-family:'Cabin',sans-serif;
	background:url('pattern.gif');
}
.container-fluid{
	overflow-x:hidden;
	// margin:0;
	// padding:0px 0;
}


.form-horizontal{
	.controls{
		margin-left:90px;
	}
	.control-label{
		width:40px;
		text-align:left;
	}
}

.navbar {
	margin:0;
	height:40px;
	.navbar-inner{
		background:url('a_pattern_top.jpg') repeat-x;
		padding:0px 0;
		border:0;
	} 
	
	#logo{
		background:url('a__01.jpg') no-repeat;
		background-position:left;
		height:40px;
		margin-left:0px;
	}

	.botones{
		position:relative;
		.nav{
			margin-right:60px;
		}
		.nav li{
			margin:0;
			width:auto;
			padding:0;
			a{
				padding:3px;
				margin:0;
			}
		}
	}

	.menu(@boton_activo,@boton){
		background-position: bottom;	
		height:34px;
		width:83px;
		cursor:pointer;
		background:url(@boton) no-repeat;
		&.active,&:hover{
			background:url(@boton_activo) no-repeat !important;
		}
		
	}

	.tv{
		.menu('a__02b.jpg','a__02.jpg');
		
	}
	
	.store{
		.menu('a__04b.jpg','a__04.jpg');
		
	}
	.ingresar{
		background:url('a__06.jpg') no-repeat;
		width:80px;
		height:38px;
		background-position: top;

	}
}

#header{
	height:190px;
	margin-top:0px;	
	background: url('a1_15.jpg') no-repeat;
	#show{
		height:170px;
		margin-top:10px;
		margin-bottom:10px;
		margin-right:10px;
		background-color:#FFFFFF;
		position:relative;
		.flechas(@imagen){
			width:20px;
			height:30px;
			position:relative;
			top:50%;
			background: url(@imagen) no-repeat;
			cursor:pointer;
		}
		.izq{
			background-position: left;
			.flechas('bflechaizquierda.png');

		}

		.der{
			background-position: right;
			.flechas('bflechaderecha.png');
		}

		.texto{
			position:absolute;
			bottom:0;
			width:80%;
			color:#777777;
			font-size:18px;
			margin-bottom:15px;
			margin-left:14%;
		}

	}
}

#barra{
	height:30px;
	margin-top:0;
	background-color:#f9f8f4;
	padding-top:5px;
	padding-bottom:5px;

	-webkit-box-shadow: 0px 5px 5px -2px rgba(68, 68, 68, 0.5);
    -moz-box-shadow:    0px 5px 5px -2px rgba(68, 68, 68, 0.5);
    box-shadow:         0px 5px 5px -2px rgba(68, 68, 68, 0.5);
	/* For IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=180, Color='#DDDDDD')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=180, Color='#DDDDDD');

	.botones(@activo,@inactivo){
		background:url(@inactivo) no-repeat;
		padding:0;
		margin:0;
		height:18px;
		position:relative;
		top:0px;
		// &.active,&:hover{
		// 	background:url(@activo) no-repeat !important;
		// }
	}

	input{
		height:18px;
		padding:0px 6px;
	}

	#b_buscar{
		width:30px;
		float:left;
		.botones('a1_27.jpg','a1_27.jpg');
	}

	#b_buscarmas{
		width:30px;
		float:right;
		.botones('a1_28.jpg','a1_28.jpg');
	}

	.span4{
		position:relative;
		margin-left:30px;
	}

	.secciones(@imagen,@imagen_activa){
		background: url(@imagen) no-repeat;
		background-position: top left;
		width:111px;
		height:30px;
		&:hover,&.active{
			background: url(@imagen_activa) no-repeat;
		}
		
	}

	#b_populares{
		.secciones('a1_17.jpg','a1_18.jpg');
	}

	#b_valorados{
		.secciones('a1_19.jpg','a1_20.jpg');
	}

	#b_vistos{
		.secciones('a1_21.jpg','a1_22.jpg');
	}
}

#botonera{
	margin-top:15px;
	.botones(@activo,@inactivo){
		background:url(@inactivo) no-repeat;
		padding:0;
		margin:0;
		height:27px;
		position:relative;
		top:0px;
		width:42px;
		&.active,&:hover{
			background:url(@activo) no-repeat !important;
		}
	}

	.imagenes{
		float:left;
		.botones('a1_37.jpg','a1_36.jpg');
	}

	.videos{
		float:right;
		.botones('a1_38.jpg','a1_39.jpg');
	}

	.vista_circular{
		float:right;
		.botones('a1_41.jpg','a1_40.jpg');
	}

	.vista_muro{
		float:left;
		.botones('a1_43.jpg','a1_42.jpg');
	}
}

.contenido{
	margin-top:20px;
}

#loading{
	z-index:10;
	background: rgb(1,1,1) transparent;
	background: rgba(1,1,1,0);
	position:absolute;
	left:45%;
	top:20%;
	text-align:center;
}


.thumb{
	.size(32px,32px);
}

.rating{
	.center-block();
	width:120px;
	height:29px;
	position:relative;
}

.star{
	background:url('a1_55.jpg') no-repeat;
	width:24px;
	height:29px;
	float:left;
	&.over,&.vote{
		background:url('a1_56.jpg') no-repeat;
	}
}

.mini-star{
	background: url('a1_64.jpg') no-repeat;
	.size(15px,15px);
	float:left;
}
.mini-star2{
	background: url('a1_66.jpg') no-repeat;
	.size(15px,15px);
	float:left;
}

i.heart{
	background:url('a1_68.jpg') no-repeat;
	width:15px;
	height:12px;
	display:inline-block;
	line-height:15px;
	vertical-align: text-top;
	margin-top:1px;
}

i.comment{
	background:url('a1_70.jpg') no-repeat;
	width:22px;
	height:15px;
	display:inline-block;
	line-height:22px;
	vertical-align: text-top;
	margin-top:1px;
}