.top-round-bordered{
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-top-left-radius: 4px;
	-moz-border-top-right-radius: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

.bottom-round-bordered{
	-webkit-border-bottom-left-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-moz-border-bottom-left-radius: 4px;
	-moz-border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

/* notifications */

.gritter-without-image{
	color: #fff !important;
}


.gritter-with-image{
	color: #fff !important;
}

.remote-right{
	cursor: pointer;
}

h1 { 
font-family: abril-fatface; 
font-size: 168px; 
line-height: 181px; 
font-weight: 550; 
font-style: normal; 
letter-spacing: 0px; 
text-align: center; 
margin-bottom: 20px; 
margin-top: 20px; 
text-transform: none; 
}

/* debug GMaps */
img {
  max-width: 100%;
}

#map_canvas img { max-width:none; }


/* buttons */

.btn-inverse {
  background-color: #393939;
  background-image: -moz-linear-gradient(top, #454545, #262626);
  background-image: -ms-linear-gradient(top, #454545, #262626);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#454545), to(#262626));
  background-image: -webkit-linear-gradient(top, #454545, #262626);
  background-image: -o-linear-gradient(top, #454545, #262626);
  background-image: linear-gradient(top, #454545, #262626);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#454545', endColorstr='#262626', GradientType=0);
  border-color: #262626 #262626 #000000;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  text-decoration: none;
  color: white;
}

.btn-inverse:hover,
.btn-inverse:active,
.btn-inverse.active,
.btn-inverse.disabled,
.btn-inverse[disabled] {
  background-color: #262626;
  color: #fff;
}
.btn-inverse:active, .btn-inverse.active {
  background-color: #0c0c0c \9;
}

.btn-mini{
  padding: 2px 6px;
  font-size: 11px;
  line-height: 14px;
}

.signin_facebook{
  display: inline-block;
  vertical-align: text-top;
  background-position: 0px -24px;
  background-image: url(/assets/signin_facebook.png);
  width: 150px;
  height: 24px;
  background-repeat: no-repeat;
  margin-top: 5px;
  text-decoration: none;
  cursor: pointer;
}

.signin_twitter{
  display: inline-block;
  vertical-align: text-top;
  background-position: 0px -24px;
  background-image: url(/assets/signin_twitter.png);
  width: 150px;
  height: 24px;
  background-repeat: no-repeat;
  margin-top: 5px;
  text-decoration: none;
  cursor: pointer;
}

.signin_facebook:hover, .signin_twitter:hover{
  background-position: 0px 0px;
  text-decoration: none;
  background-color: #fff;
}

.signin_facebook:active, .signin_twitter:active{
  background-position: 0px -48px;
  text-decoration: none;
  background-color: #fff;
}

/* avatar */

.avatar{
  max-width: 100px;
  max-height: 100px;
}


