div.item{
	// height:auto;
	width:250px;
	min-width:250px;
	margin:0 2.5px 10px 2.5px;

	padding:5px 5px 5px 5px;
	background-color: #FFFFFF;
	box-shadow: 0 3px 5px rgba(34, 25, 25, 0.4);
	-moz-box-shadow: 0 3px 4px rgba(34,25,25,0.4);
	-webkit-box-shadow: 0 3px 5px rgba(34, 25, 25, 0.4);
	float:left;

	.holder{
		// height:auto;
		padding:4px 4px 10px 4px;
		-webkit-box-shadow: 0 7px 4px -2px rgba(151,151,151, 0.5);   
		-moz-box-shadow: 0 7px 4px -2px rgba(151,51,151, 0.5);
		box-shadow: 0 7px 4px -2px rgba(151,151,151, 0.5);
		/* For IE 8 */
        -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=180, Color='#DDDDDD')";
		/* For IE 5.5 - 7 */
		filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=180, Color='#DDDDDD');
		position:relative;
		
		.image_holder{
			// height:auto;
			width:240px;
			position:relative;
		}

		.image_holder, .overlay{
			cursor: -webkit-zoom-in;
			cursor: -moz-zoom-in;
			cursor: zoom-in;
		}
		.overlay{
			display:none;
			z-index:10;
			width:240px;
			// height:100%;
			float:left;
			background: rgb(1,1,1) transparent;
			background: rgba(1, 1, 1, 0.5);
			filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#99000000', endColorstr='#99000000');
			-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#99000000', endColorstr='#99000000')";
	        position:absolute;


	        .up{
	        	top:0;
	        	left:5px;
	        	position:absolute;
	        	z-index:100;
	        	img{
	        		cursor:pointer !important;
	        	}
	        }

	        .bottom{
	        	position:absolute;
	        	z-index:11;
	        	bottom:0;
	        	height:60px;
	        	font-family:'FBold',sans-serif, Helvetica;
				font-size:13px;
				font-weight:bold;
				color:white;
				left:5px;
				.autor{
					font-size:10px !important;
					margin-top:5px;
				}
	        }
	    }
	}

	.rating{
		margin-top:2px;
	}

	.comments{
		width:70px;
		min-width:50px;
	}
	.votos{
		width:125px;
		text-align:right;
	}
	.botonera,.comentarios{
		margin:4px 4px 4px 4px;
		display:inline-block;
		position:relative;
		width:96%;
		font-family:'FBold',sans-serif, Helvetica;
	}
	.descripcion{
		font-family:'FBold',sans-serif, Helvetica;
		font-size:10px;
		margin:10px 4px 4px 4px;
		position:relative;
	}

	.thumb{
		width:32px;
		height:32px;
		float:left;
	}
	.desc{
		float:right;
		width:85%;
		font-size:10px;
	}

	.fila{
		border-bottom:2px #DDDDDD solid;
		padding:2px 2px 4px 2px;
		position:relative;
		display:inline-block;
	}

}


