<%  @f_video = Video.find(params[:id])
if !@f_video.questions.empty? 
str = "<div style='padding-left: 30px'><ul>"
  @f_video.questions.each do |ps|
    str = str += "<li>"
    str = str += ps.name.to_s
    str = str += "&nbsp;&nbsp;"+'<a class="destroy_question" href="#" id="'+ps.id.to_s+'" >Borrar</a>'
    str = str += "</li>"
  end
  str = str+="</ul>"
else
  str =  "<ul><li>-</li></ul>" 
end %>
<%= str.html_safe %>