<div class="row">
	<div class="three columns">
		<input type="text" class="buscar" placeholder="Buscar"/>
		<div class="buscar"></div>
	</div>
	<div class="three columns botonera">
		<div class="section imagenes active"></div>
		<div class="section videos active"></div>
		<div class="section vista1 active"></div>
		<div class="section vista2"></div>

	</div>

	<div class="two columns secciones">
		<!--en orden inverso a como se veran-->
		<a href="#nuevos">
			<div class="section nuevos"></div>
		</a>
		<a href="#vistos">
			<div class="section vistos"></div>
		</a>
		<a href="#valorados">
			<div class="section valorados"></div>
		</a>
		<a href="#index">
			<div class="section favoritos active"></div>
		</a>
	</div>
</div>