<div class="span11" id="barra">
	<div class="row">
		<div class="span5" style="position:relative;top:5px">
			
			<div class="span3">
				<input type="text" class="search span3" placeholder="Buscar">
			</div>
			<div class="span1" style="width:60px;margin:0;">
				<a id="b_buscar" href="#"></a>
				<a id="b_buscarmas" href="#"></a>
			</div>
		</div>
		<div class="span5 pull-right">
			<a href="/mas_vistas">
				<div id="b_vistos" class="pull-right"></div>
			</a>

			<a href="/mas_votadas">
				<div id="b_valorados" class="pull-right">
				</div>
			</a>

			<a href="/mas_populares">
				<div id="b_populares" class="pull-right">
				</div>
			</a>
		</div>
		
	</div>
</div>