<%
begin
	clase = section
rescue
	clase = ""
end
%>
<div class="row">
	<div class="span11 <%= clase %>" id="botonera">
		<div class="span3" style="width:92px;">
			<a class="imagenes active"></a>
			<a class="videos active"></a>
			
		</div>
		<div class="span2" style="width:92px;">
			<div class="vista_muro active"></div>
			<div class="vista_circular"></div>
		</div>
		<% if current_user.id == @user.id && clase == 'perfil'%>
		<div class="span2 pull-right" id="upload">
			<button class="btn btn-inverse" id="nuevo_recurso" style="cursor:pointer;z-index:50000">Agregar nueva publicidad</button>
		</div>
		<% end %>
	</div>
</div>